body {
 margin: 0;
  padding: 16px;
  background-color: black;
}

.message{
  margin: 40px auto;
  padding: 16px;
  text-align: center;
  color: #fff;
  letter-spacing: 5px;
  line-height: 1.8;
  font-size: 20px; 
  max-width: 500px;
}

.birthday-card {
  margin: 40px auto;
  padding: 16px;
  max-width: 400px;
  background-color: white;
  text-align: center;
  box-shadow: 0 24px 40px -8px grey;
}

.birthday-card {
  margin: 40px auto;
  padding: 16px;
  max-width: 400px;
  background-color: white;
  text-align: center;
  box-shadow: 0 24px 40px -8px grey;
}
.birthday-card img {
  width: 100%;
}

.name{
  margin: 40px auto;
  padding: 16px;
  text-align: center;
  color: #fff;
  letter-spacing: 18px;
  line-height: 1.8;
  font-size: 30px; 
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #74bbfb, 0 0 40px #74bbfb, 0 0 50px #74bbfb, 0 0 60px #74bbfb, 0 0 70px #74bbfb;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #74bbfb, 0 0 40px #74bbfb, 0 0 50px #74bbfb, 0 0 60px #74bbfb, 0 0 70px #74bbfb, 0 0 80px #74bbfb;
  }
}
